<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="xysz.egret.com.xysz">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER"/>
    <!-- 微信登录 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application android:allowBackup="true" android:label="@string/app_name"
        android:icon="@drawable/icon" android:supportsRtl="true"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
        android:largeHeap="true">
        <activity
            android:name=".ContainerActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="egret" android:host="gamecenter.egret-labs.org"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.egret.bailugame.wxapi.WXEntryActivity"
            android:launchMode="singleInstance"
            android:label="@string/app_name"
            android:exported="true"/>
        <activity
            android:name="com.egret.bailugame.wxapi.WXPayEntryActivity"
            android:launchMode="singleInstance"
            android:label="@string/app_name"
            android:exported="true"/>
        <receiver android:name=".receiver.DownloadReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE"></action>
            </intent-filter>
        </receiver>
    </application>

</manifest>
